@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.woff');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.woff');
}

@font-face {
    font-family: Bellefair;
    src: url('../fonts/Bellefair-Regular.woff');
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .menu-mobile {
    display: none;
}

header nav {
    height: 120px;
    position: relative;
}

header nav::after {
    content: "";
    width: 936px;
    height: 2px;
    background-color: #650C0C;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

header nav .__wrap {
    display: flex;
    height: 100%;
    align-items: center;
}

header nav .__wrap a {
    font-family: Roboto-Bold;
    margin-right: 15px;
    text-decoration: none;
    color: #650C0C;
}

header nav .__wrap .contato {
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 137px;
    background-color: #650C0C;
}

header nav .__wrap .contato::before {
    content: url("../svg/whatsapp2.svg");
    margin-right: 10px;
}

header nav .__wrap a img {
    width: 87px;
    height: 110px;
    margin-right: 375px;
}

.banner {
    width: 100%;
    height: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-family: Bellefair;
    font-size: 100px;
    color: #650C0C;
    font-weight: 500;
}

.line {
    width: 345px;
    height: 2px;
    margin: 0 auto;
    background-color: #650C0C;
}

.about {
    margin: 78px 0;
}

.about h2 {
    font-family: Roboto;
    font-size: 40px;
    color: #650C0C;
    text-align: center;
}

.about .__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about .__wrap .text-1 {
    font-family: Roboto;
    font-size: 22px;
    color: #858585;
    width: 470px;
    line-height: 32px;
    margin-right: 100px;
}

.about .__wrap .text-2 {
    font-family: Roboto;
    font-size: 22px;
    color: #858585;
    width: 470px;
    line-height: 32px;
    margin-left: 100px;
}

.blog {
    margin: 78px 0;
}

.blog h2 {
    font-family: Roboto;
    font-size: 40px;
    color: #650C0C;
    text-align: center;
}

.blog p {
    font-family: Roboto;
    font-size: 24px;
    color: #858585;
    text-align: center;
}

.blog .flex-itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .flex-itens .item {
    margin: 0 10px;
    width: 386px;
    height: 386px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .flex-itens .item::before {
    content: "Ver postagem";
    font-family: Roboto;
    color: white;
    width: 318px;
    height: 72px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.blog .flex-itens .item:hover::before {
    display: flex;
}

.blog .flex-itens .item::after {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #650C0C;
    opacity: .7;
    display: none;
    content: "";
    top: 0;
    border-radius: 30px;
    transition: all 2s;
}

.blog .flex-itens .item:hover::after {
    display: flex;
    z-index: 2;
}

.cta {
    width: 316px;
    height: 80px;
    background-color: #650C0C;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    margin: 48px auto 0;
    border-radius: 15px;
}

.cta::before {
    content: url("../svg/insta-white.svg");
    margin-right: 15px;
}

.contact {
    margin: 78px 0 30px;
    height: 500px;
    background-color: #650C0C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h2 {
    font-family: Roboto;
    font-size: 40px;
    color: white;
    text-align: center;
}

.contact .button {
    width: 458px;
    height: 80px;
    background-color: white;
    color: #650C0C;
    font-family: Roboto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.contact .button::before {
    content: url("../svg/whatsappRed.svg");
    margin-right: 15px;
}

.contact .number {
    font-family: Roboto;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
}

.contact .number::before {
    content: url("../svg/phone_icon.svg");
    margin-right: 15px;
    position: relative;
    top: 7px;
}

footer .__wrap .nav {
    border-bottom: 2px solid #650C0C;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .__wrap .nav a {
    font-family: Roboto;
    color: #650C0C;
    margin-right: 15px;
    font-weight: bold;
    text-decoration: none;
}

footer img {
    margin: 50px auto -10px;
    display: flex;
}

footer .medias {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .medias a {
    margin-right: 15px;
}

footer .__wrap .credit {
    border-top: 1px solid #650C0C;
    margin-top: 50px;
}

footer .__wrap .credit p {
    font-family: Roboto;
    color: #858585;
    text-align: end;
}

footer .__wrap .credit p a {
    text-decoration: none;
    color: #858585;
    font-weight: bold;
}

footer .__wrap .credit p a:hover {
    text-decoration: underline;
}

@media ( max-width: 428px ) {

    header {
        width: 100%;
        position: fixed;
        background-color: white;
        top: 0px;
        left: 0px;
        z-index: 5;
    }

    header nav {
        width: 100%;
        position: fixed;
        transform: translateX(150%);
        background-color: white;
        height: 50vh;
    }

    header nav.__active {
        transform: translateX(0);
    }

    header nav::after {
        display: none;
    }

    header nav .__wrap {
        flex-direction: column;
        justify-content: center;
    }

    header nav .__wrap a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header nav .__wrap .contato {
        margin-left: 0px;
    }

    header nav .__wrap a img {
        display: none;
    }

    header .menu-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        box-shadow: -4px -1px 5px #858585;
        position: relative;
    }

    header .menu-mobile a img {
        width: 40px;
        margin-left: 6px;
    }

    .banner {
        height: 165px;
        padding-top: 60px;
    }

    .banner h1 {
        font-size: 35px;
    }

    .about {
        margin: 30px 0;
        width: 100%;
    }

    .about .__wrap {
        flex-direction: column;
        width: 100%;
    }

    .about .__wrap:nth-child(even) {
        flex-direction: column-reverse;
    }

    .about .__wrap .text-1 {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .about .__wrap .text-2 {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }

    .about .__wrap img {
        width: 90%;
        margin: 0 auto;
    }
    .blog {
        margin: 40px 0;
    }

    .blog h2 {
        font-size: 35px;
    }

    .blog .flex-itens .item {
        width: 90%;
        height: 310px;
        margin: 0 0 15px;
    }

    .blog .flex-itens .item img {
        width: 100%;
        height: 100%;
    }

    .contact .button {
        width: 300px;
    }

    .contact {
        height: auto;
        padding: 15px 0;
    }

    .contact h2 {
        font-size: 31px;
    }

































    footer {
        width: 100%;
    }

    footer img {
        width: 100%;
    }

    footer .__wrap .credit p {
        margin-right: 10px;
    }
}