<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/wrap.css">
    <title>Carine Moreira</title>
</head>

<body>
    <header>
        <nav>
            <div class="__wrap">
                <a href=""><img src="assets/images/brand.png" alt="Brand"></a>
                <a href="">Home</a>
                <a href="">Sobre</a>
                <a href="">Blog</a>
                <a href="">Contato</a>
            </div>
        </nav>
    </header>

    <section class="banner">
        <h1>Carine Moreira Pedroso</h1>
    </section>

    <div class="line"></div>

    <section class="about">
        <h2>Sobre</h2>
    </section>

    <div class="line"></div>

    <section class="blog">
        <h2>Blog</h2>
        <p>Veja aqui as minhas ultimas postagens!</p>

        <div class="flex-itens">
            <a href="" class="item"><img src="assets/images/img1.png"></a>
            <a href="" class="item"><img src="assets/images/img2.png"></a>
            <a href="" class="item"><img src="assets/images/img3.png"></a>
        </div>

        <a href="https://www.instagram.com/carinemoreira.psi/" target="_blank" class="cta">Me siga</a>
    </section>

    <div class="line"></div>
</body>

</html>